.balao {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  height: 100%;
  overflow-y: scroll;
  p {
    padding: 10px 20px;
    text-align: center;
    width: 80%;
    background: #91b3ea;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: 0;

    &.user {
      text-align: right;
      margin-left: auto;
      margin-right: 0;
      background: #ff7f30;
      color: black;
    }

    &.watson {
      text-align: left;
      margin-left: 0;
      margin-right: auto;
      background: #2164d1;
      color: white;
    }
  }  
}